<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
            <h1>Status del Error: <span th:text="${status}"></span></h1>
            <p>Mensaje: <span th:text="${error}"></span></p>
            <p>Detalles: <span th:text="${message}"></span></p>
            <p>Ruta solicitada: <span th:text="${path}"></span></p>
            <a href="/">Volver al inicio</a>
    </body>
</html>