<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User</th>
                <th>Nombre y Apellido</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${listaUsuarios}">
                <td th:text="${usuario.user}"></td>
                <td th:text="${usuario.nombreApellido}"></td>
                <td th:text="${usuario.estado}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>